/* Tamaño base de fuente */
html {
    font-size: 16px; /* Base para unidades rem */
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-size: 1rem; /* Equivale a 'large' dependiendo del tamaño base */
}

header {
    background: #390a4b;
    color: #fff;
    padding: 0.625rem 0; /* Equivale a 10px */
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 1.875rem; /* Equivale a 30px */
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilo para la imagen del header */
.header-imagen {
    width: 12.5rem; /* Equivale a 200px */
    height: auto;
    margin-bottom: 0.625rem; /* Equivale a 10px */
    margin-top: 0.625rem; /* Equivale a 10px */
}

h1 {
    margin: 0;
}

h2 {
    text-align: center;
}


section {
    padding: 1.25rem; /* Equivale a 20px */
    margin-left: 12.5rem; /* Equivale a 200px */
    margin-right: 12.5rem; /* Equivale a 200px */
}

#proyectos {
    display: flex;
    flex-direction: column; /* Asegura que los elementos dentro se alineen en columna */
    justify-content: center;
    align-items: center;
    padding: 1.25rem; /* Espaciado interno para el contenedor */
}

.proyecto {
    border: 0.0625rem solid #ccc; /* Equivale a 1px */
    margin: 0.625rem 0; /* Equivale a 10px */
    padding: 0.625rem; /* Equivale a 10px */
    text-align: center;
}

.mas-info {
    display: none; /* Ocultar información adicional por defecto */
    margin-top: 0.625rem; /* Equivale a 10px */
}

.ver-mas{
    color: blue;
}

/* Estilo para la imagen de los proyectos */
.imagen-proyecto {
    width: 40%; /* Ajusta el ancho al % del contenedor */
    height: auto;
    border-radius: 0.5rem; /* Equivale a 8px */
    margin-bottom: 1.25rem; /* Equivale a 20px */
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2); /* Equivale a 4px 8px */
    object-fit: cover;
    max-width: 37.5rem; /* Equivale a 600px */
}

/* Efecto hover */
.imagen-proyecto:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Estilo para el formulario */
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 31.25rem; /* Equivale a 500px */
}

/* Estilo para las etiquetas */
form label {
    margin-bottom: 0.5rem; /* Equivale a 8px */
    font-size: 1rem; /* Equivale a 16px */
}

/* Estilo para los campos de entrada y textarea */
form input,
form textarea {
    width: 100%;
    padding: 0.625rem; /* Equivale a 10px */
    margin-bottom: 1.25rem; /* Equivale a 20px */
    border: 0.0625rem solid #ccc; /* Equivale a 1px */
    border-radius: 0.3125rem; /* Equivale a 5px */
    font-size: 1rem; /* Equivale a 16px */
}

/* Estilo para el botón de submit */
button {
    position: relative;
    background-color: violet;
    color: white;
    border: none;
    padding: 0.625rem 1.25rem; /* Equivale a 10px 20px */
    font-size: 1rem; /* Equivale a 16px */
    cursor: pointer;
    border-radius: 0.3125rem; /* Equivale a 5px */
    overflow: hidden;
    transition: color 0.4s, background-color 0.4s;
    align-self: flex-start;
    margin-top: 0.625rem; /* Equivale a 10px */
}

/* Estilo para el pseudo-elemento */
button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: rgba(255, 255, 255, 0.4);
    transition: width 0.4s, height 0.4s, top 0.4s, left 0.4s;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

/* Efecto hover */
button:hover::after {
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
}

/* Efecto hover */
button:hover {
    background-color: var(--color-principal);
    color: var(--color-fondo);
}

footer {
    background: #390a4b;
    color: #fff;
    text-align: center;
    padding: 0.625rem 0; /* Equivale a 10px 0 */
    width: 100%;
    bottom: 0;
}

/* Media Queries para adaptabilidad */
@media (max-width: 48rem) { /* Equivale a 768px */
    header nav ul {
        text-align: center;
    }

    header nav ul li {
        display: block;
        margin: 0.625rem 0; /* Equivale a 10px */
    }

    .header-imagen {
        width: 9.375rem; /* Equivale a 150px */
    }

    section {
        margin-left: 1.25rem; /* Equivale a 20px */
        margin-right: 1.25rem; /* Equivale a 20px */
    }

    .imagen-proyecto {
        width: 100%;
        max-width: none; /* Quita el ancho máximo */
    }

    form {
        max-width: 100%;
        padding: 0.625rem; /* Equivale a 10px */
    }

    button {
        padding: 0.9375rem 1.5625rem; /* Equivale a 15px 25px */
        font-size: 1.125rem; /* Equivale a 18px */
    }
}

@media (max-width: 30rem) { /* Equivale a 480px */
    header nav ul {
        text-align: center;
    }

    header nav ul li {
        display: block;
        margin: 0.625rem 0; /* Equivale a 10px */
    }

    .header-imagen {
        width: 7.5rem; /* Equivale a 120px */
    }

    section {
        margin-left: 0.625rem; /* Equivale a 10px */
        margin-right: 0.625rem; /* Equivale a 10px */
    }

    .imagen-proyecto {
        width: 100%;
        max-width: none; /* Quita el ancho máximo */
    }

    form {
        max-width: 100%;
        padding: 0.625rem; /* Equivale a 10px */
    }

    button {
        padding: 0.9375rem 1.5625rem; /* Equivale a 15px 25px */
        font-size: 1.125rem; /* Equivale a 18px */
    }
}